*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
  background-color: rgb(177, 123, 172);
  font-size: 18px;
}
/*
nav .time, #questions {
  font-size: 18px;
} */

#btn-A, #btn-B, #btn-C, #btn-D, #start-quiz-button, #go-back-button, #clear-scores-button, #save-initials-button {
  background-color: purple;
  color: white; 
}

#btn-A:hover, #btn-B:hover, #btn-C:hover, #btn-D:hover {
  cursor: pointer;
  /*background-color: #be70be; */
}

#quiz-container,
#high-scores-container,
#result,
#result-container {
  display: none;
}

#view-high-scores-nav-button {
  color: black;
}